.social-links {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 43px;
  grid-row-gap: 0px;
  width: 93px;
  font-size: 27px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.socials {
  color: white;
}